{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<style>
  .table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse; /* Ensures no spacing between borders */
    font-size: 14px;
    background-color: #ffffff; /* Uniform background color for the entire table */
  }
  .table th, .table td {
    padding: 10px;
    text-align: left; /* Aligns text in the cells to the left */
    vertical-align: middle; /* Vertically centers text */
  }
  .container {
    padding: 20px;
    overflow-x: auto;
  }
  .table img {
    width: 50px;
    height: auto;
  }
  .actions {
    font-size: 20px;
    color: #007bff;
  }
  .actions a {
    color: #28a745;
    margin-right: 10px;
  }
  .actions a.delete {
    color: #dc3545;
  }
</style>

<div class="container">
  <h2 style="font-weight: bold; margin-bottom: 20px;">Roster</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th class="number-column">#</th>
        <th>Position</th>
        <th>S/G</th>
        <th class="height-column">Ht</th>
        <th class="weight-column">Wt</th>
        <th>Birthdate</th>
        <th class="birthplace-column">Birthplace</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for player in players %}
      <tr>
        <td>
          {% if player.picture %}
            <img src="{{ url_for('static', filename='uploads/' + player.picture.replace('\\', '/')) }}" alt="Player Picture">
          {% else %}
            No picture
          {% endif %}
        </td>
        <td>{{ player.first_name }}</td>
        <td>{{ player.last_name }}</td>
        <td class="number-column">{{ player.number }}</td>
        <td>{{ player.position }}</td>
        <td>{{ player.hand }}</td>
        <td class="height-column">{{ player.height }}</td>
        <td class="weight-column">{{ player.weight }}</td>
        <!-- Modified Birthdate -->
        <td>{{ player.birthdate.strftime('%m/%d/%Y') }}</td>
        <td class="birthplace-column">{{ player.birthplace }}</td>
        <td class="actions">
          <a href="/{{ player.id }}/edit"><i class="fas fa-edit"></i></a>
          <a href="/{{ player.id }}/delete" class="delete"><i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
