<h3>Player ID</h3>
<p>{{player.id}}</p><hr>

<h3>Player Number</h3>
<p>{{player.number}}</p><hr>

<h3>First Name</h3>
<p>{{player.first_name}}</p><hr>

<h3>Last Name</h3>
<p>{{player.last_name}}</p><hr>

<h3>Position</h3>
<p>{{player.position}}</p><hr>

<h3>Shooting/Glove Hand</h3>
<p>{{player.hand}}</p><hr>

<h3>Height</h3>
<p>{{player.height}}</p><hr>

<h3>Weight</h3>
<p>{{player.weight}}</p><hr>

<h3>Birthdate</h3>
<p>{{player.birthdate}}</p><hr>

<h3>Birthplace</h3>
<p>{{player.birthplace}}</p><hr>
