{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %}Delete Player{% endblock %} 

{% block body %}
<div class="container">
    <h1 style="margin-top: 15px; margin-bottom: 20px;">Are you sure you want to delete this player?</h1>
    <form action='' method="POST">
        <!-- Confirmation Message -->
        <p>Click YES to confirm deletion of the player.</p>
        
        <!-- Submit Button for Deletion -->
        <input type="submit" value="YES" class="btn btn-danger">
        
        <!-- Cancel Link -->
        <a href='/roster' class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
